<div class="jumbotron">

<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>



  <div class="checkbox">
    <label><%= f.check_box :remember_me %> Remember me</label>
  </div>

  <%= f.button "Login", class: "btn btn-default" %>

<% end %>

</div>