<h1>Listing Res Yields</h1>


<div class="controls">

<%= form_tag(filter_yields_path) do %>

  <%= label_tag(:res_group_id, "Filter by group:") %>
  <%= select_tag(:res_group_id, options_for_select(@res_groups_list, params[:res_group_id])) %>

  <%= label_tag(:recipe_id, "Filter by recipe:") %>
  <%= select_tag(:recipe_id, options_for_select(@recipes_list, params[:recipe_id])) %>

  <%= submit_tag("Switch") %>
<% end %>

<%= form_tag(res_yields_mark_path, id: "mark-form") do %>
  <%= hidden_field_tag(:res_group_id, params[:res_group_id]) %>
  <%= hidden_field_tag(:recipe_id, params[:recipe_id]) %>
  <%= hidden_field_tag(:page, @res_yields.current_page) %>
  <%= submit_tag("Mark page as read", name: :mark_page_read) %>
  <%= submit_tag("Mark all as read", name: :mark_all_read) %>
<% end %>

</div>

<%= will_paginate @res_yields %>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Recipe</th>
      <th>Content</th>
      <th>Read?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @res_yields.each do |res_yield| %>
      <tr>
        <td><%= res_yield.recipe.res_group.name %></td>
        <td><%= res_yield.recipe.name %></td>
        <td><%= res_yield.content %></td>
        <td><%= res_yield.read %></td>
        <td><%= link_to 'Show', res_yield %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @res_yields %>