<% content_for :top_navbar do %>
  <%= form_tag(filter_yields_path, class: "navbar-form navbar-left") do %>
    <div class="form-group">
      <%= select_tag(:res_group_id, options_for_select(@res_groups_list, params[:res_group_id]),
                      class: "form-control", onchange: "this.form.submit();") %>
      <%= select_tag(:recipe_id, options_for_select(@recipes_list, params[:recipe_id]),
                      class: "form-control", onchange: "this.form.submit();") %>
    </div>
    <noscript><%= submit_tag("Go", class: "btn btn-default") %></noscript>
  <% end %>

  <%= form_tag(res_yields_mark_path, class: "navbar-form navbar-right") do %>
    <%= hidden_field_tag(:res_group_id, params[:res_group_id]) %>
    <%= hidden_field_tag(:recipe_id, params[:recipe_id]) %>
    <%= hidden_field_tag(:page, @res_yields.current_page) %>

    <div class="btn-group">
      <%= submit_tag("Mark all as read", name: :mark_all_read, class: "btn btn-default") %>
      <%= submit_tag("Mark page as read", name: :mark_page_read, class: "btn btn-default") %>
    </div>
  <% end %>
<% end %>

<div class="text-right"><%= will_paginate @res_yields %></div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Group</th>
        <th>Recipe</th>
        <th>Content</th>
      </tr>
    </thead>

    <tbody>
      <% @res_yields.each do |res_yield| %>
        <% tr_class = res_yield.read? ? "read" : nil %>
        <%= content_tag :tr, class: tr_class do %>
          <td><%= link_to res_yield.recipe.res_group.name, res_yield.recipe.res_group %></td>
          <td><%= link_to res_yield.recipe.name, res_yield.recipe %></td>
          <td><%= link_to truncate(res_yield.content, length: 90), res_yield %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-right"><%= will_paginate @res_yields %></div>