<div class="panel panel-default">
  <div class="panel-heading">
    <b><%= link_to @res_yield.recipe.res_group.name, @res_yield.recipe.res_group %>
       &#47; <%= link_to @res_yield.recipe.name, @res_yield.recipe %>
       &#58;</b> <%= @res_yield.created_at.to_s(:long) %>
  </div>

  <div class="panel-body">
    <%= @res_yield.content %>
  </div>
</div>

<%= @res_yield.content.html_safe %>