<% content_for :top_navbar do %>

  <%= form_tag(filter_recipes_path, class: "navbar-form navbar-left") do %>
    <div class="form-group">
      <%= select_tag(:res_group_id, options_for_select(@res_groups_list, params[:res_group_id]),
                      class: "form-control", onchange: "this.form.submit();") %>
    </div>
    <noscript><%= submit_tag("Go", class: "btn btn-default") %></noscript>
  <% end %>

  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'New Recipe', new_recipe_path %></li>
  </ul>

<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Content</th>
        <th>Group</th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, recipe %></td>
          <td><%= link_to recipe.url, recipe.url, :target => "_blank" %></td>
          <td><%= recipe.content %></td>
          <td><%= link_to recipe.res_group.name, recipe.res_group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>