<div class="panel panel-default">

  <div class="panel-heading">
    <b><%= link_to @recipe.res_group.name, @recipe.res_group %>
       &#47; <%= @recipe.name %></b>

    <ul class="list-inline pull-right">
      <li><%= link_to 'Edit', edit_recipe_path(@recipe) %></li>
      <li><%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <td class="td-narrow">Url:</td>
        <td><%= link_to @recipe.url, @recipe.url, :target => "_blank" %></td>
      </tr>
      <tr>
        <td class="td-narrow">Content:</td>
        <td><%= @recipe.content %></td>
      </tr>
    </table>
  </div>
</div>

<%= render 'yields_list' %>