<% content_for :top_navbar do %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'New User', new_user_path %></li>
  </ul>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password digest</th>
        <th>Remember digests</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <% tr_class = user.admin? ? "warning" : nil %>
        <%= content_tag :tr, class: tr_class do %>
          <td><%= link_to user.email, user %></td>
          <td class="is-breakable"><%= link_to user.password_digest, user %></td>
          <td class="is-breakable"><%= link_to user do
                                        render user.remember_digests
                                       end %></td>
          <td><%= 'Admin' if user.admin %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>