<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-heading">
      <b><%= @user.email %><%= " (Admin)" if @user.admin? %></b>

      <ul class="list-inline pull-right">
        <li><%= link_to 'Edit', edit_user_path(@user) %></li>
        <li><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <td class="td-narrow">Password digest:</td>
          <td class="is-breakable"><%= @user.password_digest %></td>
        </tr>
        <tr>
          <td class="td-narrow">Remember digests:</td>
          <td class="is-breakable"><%= render @user.remember_digests %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Groups:
    </div>

    <div class="list-group">
      <% @user.res_groups.each do |res_group| %>
        <%= link_to res_group.name, res_group, class: "list-group-item" %>
      <% end %>
    </div>
  </div>

</div>