<h1>Listing Res Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @res_groups.each do |res_group| %>
      <tr>
        <td><%= res_group.name %></td>
        <td><%= link_to 'Show', res_group %></td>
        <td><%= link_to 'Edit', edit_res_group_path(res_group) %></td>
        <td><%= link_to 'Destroy', res_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Res group', new_res_group_path %>
